.Box {
  height: 190px;
  width: 190px;
  padding: 0px;
  margin: 0px;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media all and (max-width: 767px), all and (max-height: 767px) {
  .Box {
    height: 118px;
    width: 118px;
  }
}
