.RoundButton {
  height: 50px;
  width: 50px;
  color: whitesmoke;
  margin: 6px;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  background-color: #282c34;
  font-size: 40px;
  line-height: 44px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media all and (max-width: 767px), all and (max-height: 767px) {
  .RoundButton {
    height: 45px;
    width: 45px;
    margin: 5px;
    border: 2px solid whitesmoke;
    font-size: 36px;
    line-height: 45px;
    display: inline-block;
  }
}

.RoundButton.active {
  color: whitesmoke;
  background-color: mediumblue;
}

.RoundButton.temporaryActive {
  background-color: #282c34;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
